version: "3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodejs
    ports:
      - 3333:3333
    volumes:
      - .:/usr/app
    depends_on:
      - db
  db:
    image: postgres
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: "docker"
      POSTGRES_PASSWORD: "docker"
    volumes:
      - .:/usr/app/var/lib/postgresql/data
